  #ajuste{
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgb(234, 240, 238);
   
  }
  .botoes{
    display:flex;
    position:absolute;
    top: 585px;
    left: 175px;
    flex-direction: row;
    align-items: center;
    margin-left: 150px;
    margin-top: 130px;
  }
  button{
    display: flex;
    width: 40%;
    cursor: pointer;
    /* box-shadow: 4px 0px 15px #1D3D73; */
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: #1D3D73;
  } 
  
  #header {
    padding: 10px;
    color: #1D3D73;
    font-size: 28px;
    font-weight: 549;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:rgb(160, 157, 156);
  }
  #container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }
  #weekdays {
    display: flex;
    color: rgb(8, 1, 1);
    font-size: 11px;
    font-weight: 700;
  }
  #weekdays div {
    display: flex;
    width: 40px;
    padding:1px;  
  }
  #calendar {
    display: flex;
    width: 70%; /*  para diminuir ou aumentar o tamanho do calendario */
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    display: flex;
    width: 10px;
    padding: 17px;/*  para diminuir ou aumentar o tamanho do calendario e ajustar */
    height: 20px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(149, 153, 151);
    margin: 3px;
    box-shadow: 0px 0px 3px rgb(8, 8, 8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15%;
  }
  .day:hover {
    display: flex;
    background-color: rgb(250, 250, 252);
  
  }
  
  .day + #currentDay {
    display: flex;
    background-color:rgb(66, 196, 248);
   
  }
  .event {
    font-size: 10px;
    padding: 5px;
    background-color: rgb(14, 13, 13);
    color: rgb(39, 8, 8);
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
   .padding {
    cursor: default !important;
    background-color:white !important;
    box-shadow: none !important;
  } 
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: rgb(63, 177, 205);
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 550px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
    margin-top:580px;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid rgb(30, 145, 64);
  }
  #cancelButton, #deleteButton {
    background-color:#1D3D73;
    color:rgb(14, 13, 13)
  }
  #saveButton, #closeButton {
    background-color: #1D3D73;
    color:rgb(14, 13, 13)
  }
  #eventText {
    font-size:14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(235, 225, 225, 0.8);
  }
  #backButton{
    width:60px;
    height: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px #1D3D73;
    border: none;
    outline: none;
     padding: 5px; 
    border-radius: 5px;
    color: #1D3D73;
  }
   #nextButton{
    width:60px;
    height: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px #1D3D73;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: #1D3D73;
    margin-left: 20px;
  }
     