body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.box1 {
    height: 66px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
   height: 28px;
   width: 28px;
}

.menu1 li {
    display: inline;
}  

.box2 {
    height: 40px;
    background-color: #1D3D73;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu2 li {
    display: inline;
}  

.banner {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    size: 100vw;
}

.servicos1 {
    margin-top: 46px;
    display: flex;
    justify-content: center;
}

.servicos2 {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

footer {
    height: 92px;
    background-color: #1D3D73;
    display: flex;
    justify-content: space-between;
    align-items: center;
}